.weWork {
  background: url(../img/bottomBacg.jpg);
  min-height: 570px;
  background-size: cover;
}
.weWork-wrap {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weWorkTitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #ffffff;
}
.weWorkText {
  margin-top: 10px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}







